@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNextLTW01-Regular.eot');
    src: url('AvenirNextLTW01-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTW01-Regular.woff2') format('woff2'),
        url('AvenirNextLTW01-Regular.woff') format('woff'),
        url('AvenirNextLTW01-Regular.ttf') format('truetype'),
        url('AvenirNextLTW01-Regular.svg#AvenirNextLTW01-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next 500';
    src: url('AvenirNextLTW01-Medium.eot');
    src: url('AvenirNextLTW01-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTW01-Medium.woff2') format('woff2'),
        url('AvenirNextLTW01-Medium.woff') format('woff'),
        url('AvenirNextLTW01-Medium.ttf') format('truetype'),
        url('AvenirNextLTW01-Medium.svg#AvenirNextLTW01-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next 600';
    src: url('AvenirNextLTW01-Demi.eot');
    src: url('AvenirNextLTW01-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTW01-Demi.woff2') format('woff2'),
        url('AvenirNextLTW01-Demi.woff') format('woff'),
        url('AvenirNextLTW01-Demi.ttf') format('truetype'),
        url('AvenirNextLTW01-Demi.svg#AvenirNextLTW01-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next 700';
    src: url('AvenirNextW06-Bold.eot');
    src: url('AvenirNextW06-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextW06-Bold.woff2') format('woff2'),
        url('AvenirNextW06-Bold.woff') format('woff'),
        url('AvenirNextW06-Bold.ttf') format('truetype'),
        url('AvenirNextW06-Bold.svg#AvenirNextW06-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
